.secao__compra {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
.conteudo {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
}
.detalhe__compra {
  width: 100%;
}
@media (min-width: 1140px) {
  .sumario {
    width: 30%;
  }
}
